.c-flow {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  @include mq("sp") {
    margin-top: 88px;
  }
}

.c-flow__title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 56px;
  color: #3a3f48;
}

.c-flow__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @include mq("pc-sm") {
    flex-direction: column;
    justify-content: unset;
  }
}

.c-flow__progress-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
  @include mq("pc-sm") {
    margin-top: 40px;
  }
  @include mq("tab") {
    flex-direction: column;
  }
}

.c-flow__wrapper {
  max-width: 600px;
  width: 100%;
}

.c-flow__progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 348px;
  width: 100%;
  @include mq("tab") {
    flex-direction: column;
    justify-content: unset;
    margin-top: 32px;
  }
}

.c-flow__progress.--bottom {
  @include mq("tab") {
    margin-top: 0;
  }
}

.c-flow__border {
  min-height: 60px;
  width: 1px;
  background-color: #ced5d9;
  margin-top: 16px;
  margin-bottom: 16px;
}

.c-flow__border.--sp {
  display: none;
  @include mq("tab") {
    display: block;
  }
}

.c-flow__number {
  font-size: 24px;
  font-weight: bold;
  color: #a7b2b7;
  text-align: center;
}

.c-flow__text {
  font-weight: bold;
}
