.c-fv {
  height: 100vh;
  background-image: url(../images/fv@2x.png);
  background-position: center;
  background-size: cover;
  @include mq("tab") {
    background-position: 25% 50%;
  }
}

.c-fv__content {
  max-width: 1440px;
  margin: 0 auto;
}

.c-fv__title {
  font-size: 64px;
  margin: 0;
  text-shadow: 1px 1px 1px white;
  line-height: 1.7;
  height: 100vh;
  display: flex;
  align-items: center;
  @include mq("tab") {
    font-size: 54px;
  }
  @include mq("sp") {
    font-size: 32px;
  }
}
