.c-header {
  width: 100%;
  border-bottom: solid 1px #707070;
  position: fixed;
  top: 0;
  left: 0;
  padding: 12px;
  background-color: #f4f5f8;
  z-index: 100;
}

.c-header__container {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.c-header__logo-wrapper {
  max-width: 380px;
  @include mq("pc-small") {
    max-width: 245px;
  }
}

.c-header__img {
  width: 100%;
  height: auto;
}

.c-header__info {
}

.c-header__feature {
  display: flex;
  align-items: center;
  @include mq("tab") {
    display: none;
  }
}
.c-header__text-area {
  margin-right: 32px;
  display: flex;
  align-items: center;
}

.c-header__tel {
  font-size: 20px;
  margin: 0;
  margin-right: 24px;
}

.c-header__tel.--accent {
  color: #c48300;
  margin-right: unset;
}

.c-header__businessday {
  font-size: 12px;
  margin: 0;
}

.c-header__icon-wrapper {
  width: 36px;
  height: 36px;
}

.c-header__icon-wrapper--arrow {
  width: 36px;
  height: 36px;
  margin-right: 4px;
}

.c-header__icon-wrapper:nth-of-type(-n + 2) {
  margin-right: 16px;
}

.c-header__icon {
  display: flex;
}

.c-header__navi {
  @include mq("tab") {
    display: none;
  }
}

.c-header__navi-list {
  display: flex;
  text-align: end;
  justify-content: end;
  margin-top: 20px;
}

.c-header__navi-item {
  text-decoration: none;
  padding: 10px 20px;
}

.c-header__navi-item:nth-of-type(-n + 3) {
  margin-right: 32px;
}

.c-header__icon-text {
  font-size: 12px;
  font-weight: 600;
  color: #c48300;
  margin-right: 4px;
}

.c-header__navi-list li a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
}

.c-header__navi-list li a::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background: #c4cbcf;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1); /*X方向0、Y方向1*/
  transform-origin: left top; /*左上基点*/
}

/*現在地とhoverの設定*/
.c-header__navi-list li.current a::after,
.c-header__navi-list li a:hover::after {
  transform: scale(1, 1); /*X方向にスケール拡大*/
}

.c-header__navi-item:hover {
  color: #6c7e87;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
