// .drawer-toggle.drawer-hamburger {
//   display: none;
// }

@include mq("tab") {
  .drawer-toggle.drawer-hamburger {
    left: unset;
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 42px;
  }
  .drawer--right.drawer-open .drawer-hamburger {
    left: unset;
  }
}

.drawer-toggle.drawer-hamburger {
  @include mq("tab") {
    padding: 18px;
  }
}

.drawer-toggle.drawer-hamburger.drawer.drawer-open {
  // background-color: red;
}

.drawer--right.drawer-open .drawer-toggle.drawer-hamburger {
  right: 0;
  z-index: 50;
}

.drawer-color {
  display: none;
  @include mq("tab") {
    display: block;
    // background-color: red;
  }
}

.drawer-toggle.drawer-hamburger .drawer-hamburger__bar {
  background-color: #3a3f48;
  display: block;
  height: 2px;
  margin: 5px 0;
  width: 30px;
  transition: 0.6s;
}

.drawer--right.drawer-open
  .drawer-toggle.drawer-hamburger
  .drawer-hamburger__bar {
  transform: translateY(11px) rotate(45deg);
  transform-origin: 45% 45%;
  transition: 0.6s;
}

.drawer--right.drawer-open
  .drawer-toggle.drawer-hamburger
  .drawer-hamburger__bar:nth-of-type(2) {
  opacity: 0;
}

.drawer--right.drawer-open
  .drawer-toggle.drawer-hamburger
  .drawer-hamburger__bar:nth-of-type(3) {
  transform: translateY(-11px) rotate(-45deg);
  transform-origin: 45% 45%;
  transition: 0.6s;
}

.drawer--right .drawer-nav {
  top: 40px;
  background-color: #f4f5f6;
}

.drawer--right.drawer-open .drawer-nav {
  background: #f4f5f6;
  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.12);
  z-index: 10;
  width: 100vw;
  // max-width: 400px;
  top: 0px;
}

.drawer-nav__logo {
  height: 72px;
  padding: 12px 20px;
}

.drawer-menu.drawer-nav__menu {
  padding: 0px 20px;
}

.drawer-nav__menu .drawer-menu-item {
  padding: 8px 0;
  margin: 8px 0;
}

.drawer-menu-text {
  padding: 16px 0;
  color: red;
  font-size: 24px;
  width: fit-content;
  @include mq("sp") {
    font-size: unset;
  }
}

.drawer-menu-text:hover {
  opacity: 0.8;
}

.drawer-nav__menu .drawer-menu-text {
  padding: 16px 0;
  color: white;
}

.drawer-nav .drawer-menu-text.--large {
  padding: 16px;
  margin: 20px 0;
}

.drawer-nav__menu.drawer-menu {
  @include mq("tab") {
    overflow: scroll;
    padding: 126px 32px 24px;
  }
}

// .drawer-nav .drawer-menu-item > a {
//   display: block;
//   padding: 1rem 1rem 1rem 2.5rem;
//   padding: 1rem;
//   text-decoration: none;
//   color: #fff;
//   border-bottom: 1px solid rgba(255, 255, 255, 0.25);
// }

.drawer-menu-text.--button {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  border-radius: 50vh;
}

.drawer-menu-text.--button.--white {
  background-color: white;
  border: 1px red solid;
}

.drawer-menu-text.--button.--green {
  background-color: red;
  color: blue;
}

.drawer-menu-list {
  display: flex;
  font-size: 20px;
}

.drawer-menu-text.--icon {
  max-width: 40px;
}

.drawer-menu-text__img {
  width: 100%;
}

.drawer-menu-text {
  width: 100%;
}

.drawer-menu-list {
  width: 100%;
  margin-top: 24px;
}

.drawer-menu-list:nth-child(1) {
  width: 100%;
  margin-top: 0px;
}

.drawer-menu-list.--unset {
  width: unset;
  margin-right: 16px;
}

.drawer-menu__area {
  display: flex;
  justify-content: flex-start;
}

.drawer--right.drawer-open .drawer-nav,
.drawer--right .drawer-hamburger,
.drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
  right: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.drawer-menu-tel {
  font-size: 20px;
  margin-top: 48px;
}

.drawer-menu-tel.--accent {
  color: #c48300;
}

.drawer-menu-worktime {
  font-size: 12px;
  margin-top: 24px;
}

.drawer-menue-icon {
  margin-top: 20px;
}

.drawer-overlay.drawer-toggle {
  display: none !important;
}
